@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 735px;
  background-image: url(image/topindex.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(196, 196, 196);
}

.top__catalog {
  height: 400px;
  background-image: url(image/topcatalog.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(196, 196, 196);
}

.top__cart {
  height: 400px;
  background-image: url(image/topcart.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(196, 196, 196);
}

.header {
  height: 76px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  position: relative;
}

.header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
}

.header-menu {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.header-menu :hover {
  text-decoration: underline;
}

.header-menu__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
}

.header-mobmenu {
  display: none;
}

.top__title {
  max-width: 792px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  letter-spacing: normal;
  text-align: left;
  color: rgb(255, 255, 255);
}

.top__title-catalog {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 128px;
  letter-spacing: normal;
  text-align: left;
  color: rgb(255, 255, 255);
}

.top__cart-title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: normal;
  text-align: left;
  padding-top: 128px;
}

.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

.top__link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  text-decoration-line: underline;
}

.top__link:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.content__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  text-decoration-line: underline;
}

.content__link:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.content__link-cart {
  margin-top: 33px;
}

.for__title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: normal;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
}

.for__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item-big {
  height: 415px;
  grid-column: span 6;
}

.for__item1 {
  background-image: url(image/For1.jpeg);
  background-repeat: no-repeat;
}

.for__item2 {
  background-image: url(image/For2.jpeg);
  background-repeat: no-repeat;
}

.for__item3 {
  background-image: url(image/For3.jpeg);
  background-repeat: no-repeat;
}

.for__item4 {
  background-image: url(image/For4.jpeg);
  background-repeat: no-repeat;
}

.for__item5 {
  background-image: url(image/For5.jpeg);
  background-repeat: no-repeat;
}

.offer__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: normal;
  color: #000000;
  margin-top: 64px;
  margin-bottom: 32px;
}

.offer__box {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
}

.offer__product {
  width: 379px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.offer__product::before {
  content: url(image/heart.png);
  position: absolute;
  right: 13px;
  top: 12px;
  display: none;
}

.offer__product::after {
  content: url(image/basket.png);
  position: absolute;
  right: 58px;
  top: 11px;
  display: none;
}

.offer__product:hover::before {
  display: block;
}

.offer__product:hover::after {
  display: block;
}

.offer__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
  letter-spacing: normal;
  text-align: left;
}

.offer__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

.offer__box-price {
  display: flex;
  gap: 32px;
}

.offer__price {
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
}

.offer__1price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
  letter-spacing: normal;
  text-align: left;
}

.catalog__title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: normal;
  text-align: left;
  margin-top: 72px;
  margin-bottom: 32px;
}

.catalog__button {
  margin-top: 64px;
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

.catalog__nav {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.catalog__nav-slash {
  padding-left: 10px;
  padding-right: 10px;
}

.catalog__form {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.catalog__form-btn {
  width: 182px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  text-indent: 23px;
  background-image: url(image/arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 22px);
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
}

#ranging {
  width: 227px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  text-indent: 23px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(image/arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 22px);
}

.catalog__box-index {
  display: flex;
  row-gap: 56px;
  -moz-column-gap: 31px;
  column-gap: 31px;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

.catalog__box {
  display: flex;
  row-gap: 48px;
  -moz-column-gap: 31px;
  column-gap: 31px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.catalog__link {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  text-align: left;
}

.catalog__product {
  width: 379px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog__product::before {
  content: url(image/heart.png);
  position: absolute;
  right: 13px;
  top: 12px;
  display: none;
}

.catalog__product::after {
  content: url(image/basket.png);
  position: absolute;
  right: 58px;
  top: 11px;
  display: none;
}

.catalog__product:hover::before {
  display: block;
}

.catalog__product:hover::after {
  display: block;
}

.catalog__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 8px;
}

.catalog__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

.catalog__price {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  margin-top: 12px;
}

.footer {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgb(247, 246, 246);
}

.footer__logo {
  padding-top: 32px;
}

.footer__right {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: space-between;
}

.footer__main {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: center;
  gap: 130px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 32px;
  margin-bottom: 12px;
}

.footer-menu {
  list-style-type: none;
  margin-bottom: 12px;
}

.footer-menu__list {
  margin-bottom: 12px;
}

.footer-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer__contacts-logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__contacts-icon:hover path {
  fill: #000;
  transition: all;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-top: 32px;
  margin-bottom: 8px;
}

.footer__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
  letter-spacing: normal;
  text-align: left;
  width: 275px;
  height: 46px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 8px;
}

.footer__input::-moz-placeholder {
  color: #888888;
}

.footer__input::placeholder {
  color: #888888;
}

.footer__btn {
  background: rgba(222, 215, 215, 0.41);
  font-family: "Montserrat", sans-serif;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 16px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 64px;
}

.footer__btn:hover {
  background: #000;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 1s;
}

.cart__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.cart__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 17px;
  padding-left: 7px;
  padding-right: 23px;
}

.cart__form {
  grid-column: span 4;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.cart__product-box {
  grid-column: span 8;
}

.cart__product {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-bottom: 29px;
}

.cart__left {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}

.cart__decl {
  padding-left: 32px;
  width: 276px;
}

.cart__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
}

.cart__desc {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: normal;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
}

.cart__price {
  padding-bottom: 15px;
}

.cart__product-link {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
  padding-right: 30px;
}

.cart__product-link:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.cart__amt {
  align-self: flex-start;
  border-radius: 6px;
  border-color: transparent;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 32px;
}

.cart__amt::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}

.cart__amt::placeholder {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}

.cart__link-main {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.cart__link {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-family: "Montserrat", sans-serif;
  height: 37px;
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 21px;
  padding-right: 7px;
  background: transparent;
}

.cart__link:hover {
  background: #000;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 1s;
}

.cart__offer-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: normal;
  color: #000000;
  margin-top: 64px;
  margin-bottom: 32px;
}

.cart__offer-box {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
}

.cart__offer-product {
  width: 379px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart__offer-product::before {
  content: url(image/heart.png);
  position: absolute;
  right: 13px;
  top: 12px;
  display: none;
}

.cart__offer-product::after {
  content: url(image/basket.png);
  position: absolute;
  right: 58px;
  top: 11px;
  display: none;
}

.cart__offer-product:hover::before {
  display: block;
}

.cart__offer-product:hover::after {
  display: block;
}

.cart__offer-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 7px;
  letter-spacing: normal;
  text-align: left;
}

.cart__offer-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

.cart__box-price {
  display: flex;
  gap: 32px;
  flex-direction: row;
}

.cart__offer-price {
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
}

.cart__offer-1price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
  letter-spacing: normal;
  text-align: left;
}

.cart__link-keepshop {
  color: rgb(2, 2, 2);
}

.cart__link-keepshop :visited {
  color: rgb(2, 2, 2);
}

.cart__link-keepshop:hover {
  color: #FFFFFF;
}

.cart__form-title {
  padding-top: 32px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.cart__form-input {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 28px;
  margin-bottom: 64px;
  width: 288px;
}

.cart__form-date {
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background: rgb(247, 246, 246);
  margin-top: 44px;
}

.cart__form-date::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.cart__form-date::placeholder {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.cart__form-sum {
  font-size: 24px;
}

.cart__form-btn {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  width: 290px;
  height: 41px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 18px;
}

.cart__form-btn:hover {
  background: #000;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 1s;
}

/*не получается через препроцессор "File is not in a workspace"*/
/*срок доставки*/
.catalog__form-content {
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-top: 40px;
  position: absolute;
  right: 237px;
  top: 54px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  z-index: 1;
}

.catalog__modform {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.catalog__modform-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 541px;
  max-height: 548px;
  gap: 32px 65px;
}

.catalog__modform-fieldset {
  border: none;
}

.catalog__legend {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 14px;
}

.catalog__radio {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.radio {
  display: flex;
  align-items: center;
}

.radio__del-time {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 29px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: normal;
  text-align: left;
}

.radio__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50%;
  background: white;
}

.radio__del-time:checked + .radio__label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background: white;
  background-image: url(image/Chekform.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*цена*/
.catalog__range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.catalog__range-input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.catalog__range-input,
.catalog__range-input::-webkit-slider-runnable-track,
.catalog__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.catalog__range-input::-webkit-slider-runnable-track {
  width: 190px;
  height: 1px;
  background: black;
}

.catalog__range-input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.catalog__range-input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: black;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}

.catalog__range-input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.catalog__range-input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.catalog__range-slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.catalog__range-slider input {
  position: absolute;
}

.catalog__range-label {
  font-size: 14px;
}

/* цвет*/
.catalog__checkbox-color {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
  box-sizing: border-box;
}

.checkbox-color {
  display: flex;
  align-items: center;
}

.checkbox-color__input {
  display: none;
  box-sizing: border-box;
}

.checkbox-color__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  font-size: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
}

.checkbox-color__label::before {
  content: "";
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
}

.checkbox-color__input:checked + .checkbox-color__label::before {
  background-image: url(image/Chekform.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
}

.checkbox-color__label-white::before {
  background-color: #FFFFFF;
  border-color: #808080;
}

.checkbox-color__label-black::before {
  background-image: url(image/ChekformWHITE.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border-color: black;
}

.checkbox-color__label-grey::before {
  background-color: rgb(115, 115, 115);
  border-color: rgb(115, 115, 115);
}

.checkbox-color__label-red::before {
  background-color: red;
  border-color: red;
}

.checkbox-color__label-orange::before {
  background-color: rgb(255, 122, 65);
  border-color: rgb(255, 122, 65);
}

.checkbox-color__label-yellow::before {
  background-color: rgb(242, 203, 1);
  border-color: rgb(242, 203, 1);
}

.checkbox-color__label-green::before {
  background-color: rgb(0, 191, 42);
  border-color: rgb(0, 191, 42);
}

.checkbox-color__label-caribbean-green::before {
  background-color: rgb(0, 191, 42);
  border-color: rgb(0, 191, 42);
}

.checkbox-color__label-lightblue::before {
  background-color: rgb(0, 159, 227);
  border-color: rgb(0, 159, 227);
}

.checkbox-color__label-blue::before {
  background-color: rgb(0, 10, 248);
  border-color: rgb(0, 10, 248);
}

.checkbox-color__label-darkblue::before {
  background-color: rgb(103, 16, 214);
  border-color: rgb(103, 16, 214);
}

.checkbox-color__label-darkpurple::before {
  background-color: rgb(157, 13, 181);
  border-color: rgb(157, 13, 181);
}

.checkbox-color__label-purple::before {
  background-color: rgb(216, 154, 255);
  border-color: rgb(216, 154, 255);
}

.checkbox-color__label-pink::before {
  background-color: rgb(255, 101, 166);
  border-color: rgb(255, 101, 166);
}

/*тип комнаты*/
.catalog__checkbox-room {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.checkbox-room {
  display: flex;
  align-items: center;
}

.checkbox-room__input {
  display: none;
}

.checkbox-room__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 29px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: normal;
  text-align: left;
}

.checkbox-room__label::before {
  content: "";
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
}

.checkbox-room__input:checked + .checkbox-room__label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  background: white;
  background-image: url(image/Chekform.png);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__modform-btn {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  background-color: #fff;
  width: 190px;
  cursor: pointer;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  align-self: flex-end;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
}

.catalog__modform-btn:hover {
  background: #000;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 1s;
}

/*корзина на гл странице*/
.header__cart {
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-top: 40px;
  position: absolute;
  right: 0px;
  top: 66px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  z-index: 1;
}

.header__cart-box {
  grid-column: span 4;
}

.header__cart-product {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-bottom: 24px;
}

.header__cart-left {
  display: flex;
  flex-direction: row;
}

.header__cart-decl {
  padding-left: 24px;
  width: 190px;
}

.header__cart-name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 12px;
}

.header__cart-price {
  padding-bottom: 54px;
}

.header__cart-productlink {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
  padding-right: 21px;
}

.header__cart-productlink:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.header__cart-amt {
  align-self: flex-start;
  border-radius: 6px;
  border-color: transparent;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 48px;
}

.header__cart-amt::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}

.header__cart-amt::placeholder {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}

.header__cart-mainlink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-family: Montserrat;
}

.header__cart-formbtn {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  width: 207px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: -14px;
}

.header__cart-formbtn:hover {
  background: #000;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 1s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .offer__box {
    row-gap: 39px;
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
  .catalog__title {
    margin-top: 64px;
  }
  .catalog__box-index {
    row-gap: 39px;
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
  .catalog__box {
    row-gap: 38px;
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
  .catalog__form-content {
    right: 0px;
  }
  .cart__product-box {
    grid-column: span 12;
  }
  .cart__form {
    grid-column: span 6;
    margin-top: 32px;
  }
  .cart__link {
    margin-top: 3px;
  }
  .cart__offer-box {
    -moz-column-gap: 28px;
         column-gap: 28px;
    row-gap: 31px;
  }
  .footer__main {
    justify-content: flex-start;
  }
  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .offer__product {
    width: 346px;
  }
  .offer__title {
    font-size: 42px;
  }
  .catalog__product {
    width: 346px;
  }
  .cart__offer-product {
    width: 346px;
  }
  .cart__offer-title {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .header__input {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-mobmenu {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
  }
  .top__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .top__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .for__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 32px;
  }
  .for__box {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: span 4;
    height: 375px;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
  }
  .for__item-big {
    height: 244px;
  }
  .offer__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 32px;
  }
  .offer__product {
    width: 343px;
  }
  .offer__box {
    gap: 32px;
  }
  .offer__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .offer__desc {
    margin-bottom: 10px;
  }
  .offer__price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .offer__1price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .catalog__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 36px;
  }
  .catalog__box-index {
    gap: 32px;
    margin-bottom: 36px;
  }
  .catalog__product {
    width: 343px;
  }
  .catalog__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .catalog__desc {
    margin-bottom: 10px;
  }
  .catalog__price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .footer {
    margin-top: 32px;
    justify-content: space-around;
  }
  .footer__right {
    gap: 39px;
    justify-content: center;
  }
  .footer__main {
    gap: 100px;
  }
  .footer__form {
    align-items: center;
  }
  .top__title-catalog {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
  }
  .catalog__box {
    gap: 32px;
    margin-bottom: 36px;
  }
  .catalog__button {
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: column;
    gap: 14px;
  }
  .catalog__nav {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  }
  .catalog__form {
    flex-direction: column-reverse;
  }
  .catalog__form-content {
    position: absolute;
    right: 87px;
    margin-top: 41px;
  }
  .catalog__modform-content {
    min-width: 191px;
    max-height: 830px;
    gap: 32px;
  }
  .catalog__form-btn {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    width: 164px;
    height: 41px;
    position: relative;
  }
  #ranging {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 203px;
    height: 41px;
  }
  .cart__top-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    text-align: center;
    padding-top: 82px;
  }
  .cart__product-box {
    padding-top: 92px;
  }
  .cart__product {
    padding-bottom: 24px;
  }
  .cart__head {
    display: none;
    padding: 0;
  }
  .cart__left {
    padding-top: 18px;
  }
  .cart__img {
    display: none;
  }
  .cart__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .cart__decl {
    padding-left: 0;
    width: 253px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .cart__price {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }
  .cart__link-main {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  .cart__link {
    width: 166px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .cart__form {
    grid-column: span 12;
  }
  .cart__offer-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 48px;
  }
  .cart__offer-box {
    gap: 32px;
    margin-bottom: 34px;
  }
  .cart__offer-product {
    width: 343px;
  }
  .cart__offer-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .cart__offer-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .cart__box-price {
    gap: 52px;
  }
  .cart__offer-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .cart__offer-1price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */